.pillar {
    position: absolute;
    border-radius: 10px; /* 柱子的圆角 */
}
@keyframes diskmove {
    0% {
        transform: translateY(0); /* 初始位置 */
    }
    50% {
        transform: translateY(-200px); /* 抬升 */
    }
    100% {
        transform: translateY(0); /* 自由落体 */
    }
}